
contact.html
index.html
left-sidebar.html
LICENSE.txt
no-sidebar.html
README.txt
right-sidebar.html
assets/css/images/*.svg
assets/js/ie/
assets/js/[jmus]*.js
assets/sass/
Будет удалено .idea/workspace.xml
